<!DOCTYPE html>
<html>
  <head>
    <meta property="fc:frame" content="vNext" />
    <meta property="fc:frame:image" content="https://res.cloudinary.com/verifiedcreators/image/upload/v1739232925/DEPE/DEPE-Banner-Bg_bk79ec.png" />
    <meta property="fc:frame:button:1" content="Connect Wallet" />
    <meta property="fc:frame:button:1:action" content="link" />
    <meta property="fc:frame:button:1:target" content="https://depe-membership-frame.vercel.app/connect" />
    <title>DEPE Channel Access</title>
  </head>
  <body>
    <!-- Frame content -->
  </body>
</html>